body{
	font-family: Arial, sans-serif;
 	padding: 0;
	margin: 0;
	background-color: #d9d2e9;

}
	 
div{
	box-sizing: border-box;
}

header{
	background-color: #1aecff; no-repeat center top / cover;
	height: 100px;
	margin: 0 0;
    padding: 0;
    
   position: flex;
    
}

	
.logo{
	margin-right: 100px;
    float: left;  
    width:100px;
    height:100px;
    padding-left: 200px;
}
nav{
	float: right;
}

dws-menu {
	margin: 0;
	padding: 0;
	
    width: 100px;
}

.dws-menu li{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 20px;
}
.dws-menu > ul{
    display: block;
    justify-content: left;
    width: 100px;
}
.dws-menu  ul li {
     display: block;
     background: #eeeeee;
     padding: 10px 10px 10px 10px;
     font-size: 20px;
     color: green;
     text-decoration: none;
     text-transform: uppercase;
}
